   .footer-content.d-flex.justify-content-center.mt-3.pb-4
      a.text-white.footer-link(href='#') Instagram
      a.text-white.footer-link(href='#') Telegram
      a.text-white.footer-link(href='#') Discord